/**
 * This file has been created automatically by Uni CPO plugin
 * Last modified time: May 12 2022, 02:33:26
 */


        .uni-node-625c58b0 .uni-row-content-wrap {
				 color: #333333;																																										        }
				            .uni-node-625c58b0 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-f0636edf {
		 float: left;		 width: 100%; 								        }
        .uni-node-f0636edf .uni-col-content {
																						        }

		

			.uni-node-08422534 {
        														        	}
                            .uni-node-08422534 .uni-cpo-module-radio-label {
                                                                                                }
            							.uni-node-08422534 .uni-cpo-option-label__text {
					 color: #333333;															 font-weight: 400;					 font-size: 14px; 							        }
			            .uni-node-08422534 .uni-cpo-option-label__description {
                                                            }

		

        .uni-node-9ee338f8 .uni-row-content-wrap {
				 color: #333333;																																										        }
				            .uni-node-9ee338f8 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-c6841d67 {
		 float: left;		 width: 100%; 								        }
        .uni-node-c6841d67 .uni-col-content {
																						        }

		

        .uni-node-bda6cfcb {
												        }
                    .uni-node-bda6cfcb .uni-cpo-module-text_area-label {
                                                                        }
                .uni-node-bda6cfcb textarea {
			 width: 100%!important;			 height: 100px!important;																								 background-color: #ffffff!important;			 border-top: 1px solid #d7d7d7!important; 			 border-bottom: 1px solid #d7d7d7!important; 			 border-left: 1px solid #d7d7d7!important; 			 border-right: 1px solid #d7d7d7!important; 			 border-radius: 5px!important; 			 padding-top: 4px!important; 			 padding-bottom: 4px!important; 			 padding-left: 10px!important; 			 padding-right: 10px!important;         }

		            .uni-node-bda6cfcb textarea:focus, .uni-node-bda6cfcb textarea:active {
            background-color: #ffffff;
            }
		
		

        .uni-node-cd72e129 .uni-row-content-wrap {
				 color: #333333;																																										        }
				            .uni-node-cd72e129 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-094eb43a {
		 float: left;		 width: 100%; 								        }
        .uni-node-094eb43a .uni-col-content {
																						        }

		

        .uni-node-2178584e {
								        }
		            .uni-node-2178584e .uni-cpo-module-select-label {
															            }
		        .uni-node-2178584e select {
		 width: 100%!important;		 height: 36px!important; min-height: 36px!important; 		 border-top: 1px solid #d7d7d7!important; 		 border-bottom: 1px solid #d7d7d7!important; 		 border-left: 1px solid #d7d7d7!important; 		 border-right: 1px solid #d7d7d7!important; 		 border-radius: 5px!important; 														        }

		

        .uni-node-14dcacc3 {
								        }
		            .uni-node-14dcacc3 .uni-cpo-module-select-label {
															            }
		        .uni-node-14dcacc3 select {
		 width: 100%!important;		 height: 36px!important; min-height: 36px!important; 		 border-top: 1px solid #d7d7d7!important; 		 border-bottom: 1px solid #d7d7d7!important; 		 border-left: 1px solid #d7d7d7!important; 		 border-right: 1px solid #d7d7d7!important; 		 border-radius: 5px!important; 														        }

		

