/**
 * This file has been created automatically by Uni CPO plugin
 * Last modified time: Mar 15 2022, 08:49:42
 */


        .uni-node-38159ef1 .uni-row-content-wrap {
				 color: #333333;																														 margin-bottom: 20px; 												        }
				            .uni-node-38159ef1 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-897c41e3 {
		 float: left;		 width: 100%; 								        }
        .uni-node-897c41e3 .uni-col-content {
																						        }

		

			.uni-node-1f479d5c {
        														        	}
                            .uni-node-1f479d5c .uni-cpo-module-radio-label {
                                                                                                }
            							.uni-node-1f479d5c .uni-cpo-option-label__text {
					 color: #333333;															 font-weight: 400;					 font-size: 14px; 							        }
			            .uni-node-1f479d5c .uni-cpo-option-label__description {
                                                            }

		

        .uni-node-067bcb0a .uni-row-content-wrap {
				 color: #333333;																														 margin-bottom: 20px; 												        }
				            .uni-node-067bcb0a .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-85e16c49 {
		 float: left;		 width: 100%; 								        }
        .uni-node-85e16c49 .uni-col-content {
																						        }

		

        .uni-node-cbcaefd2 {
												        }
                    .uni-node-cbcaefd2 .uni-cpo-module-text_area-label {
                                                                        }
                .uni-node-cbcaefd2 textarea {
			 width: 100%!important;			 height: 100px!important;																								 background-color: #ffffff!important;			 border-top: 1px solid #d7d7d7!important; 			 border-bottom: 1px solid #d7d7d7!important; 			 border-left: 1px solid #d7d7d7!important; 			 border-right: 1px solid #d7d7d7!important; 			 border-radius: 5px!important; 			 padding-top: 4px!important; 			 padding-bottom: 4px!important; 			 padding-left: 10px!important; 			 padding-right: 10px!important;         }

		            .uni-node-cbcaefd2 textarea:focus, .uni-node-cbcaefd2 textarea:active {
            background-color: #ffffff;
            }
		
		

        .uni-node-0310ae20 .uni-row-content-wrap {
				 color: #333333;																														 margin-bottom: 20px; 												        }
				            .uni-node-0310ae20 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-94e8f9cd {
		 float: left;		 width: 100%; 								        }
        .uni-node-94e8f9cd .uni-col-content {
																						        }

		

        .uni-node-f3981994 {
								        }
		            .uni-node-f3981994 .uni-cpo-module-select-label {
															            }
		        .uni-node-f3981994 select {
		 width: 100%!important;		 height: 36px!important; min-height: 36px!important; 		 border-top: 1px solid #d7d7d7!important; 		 border-bottom: 1px solid #d7d7d7!important; 		 border-left: 1px solid #d7d7d7!important; 		 border-right: 1px solid #d7d7d7!important; 		 border-radius: 5px!important; 														        }

		

        .uni-node-a8d623e2 .uni-row-content-wrap {
				 color: #333333;																														 margin-bottom: 20px; 												        }
				            .uni-node-a8d623e2 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-724307b4 {
		 float: left;		 width: 100%; 								        }
        .uni-node-724307b4 .uni-col-content {
																						        }

		

        .uni-node-7db57b4e {
								        }
		            .uni-node-7db57b4e .uni-cpo-module-select-label {
															            }
		        .uni-node-7db57b4e select {
		 width: 100%!important;		 height: 36px!important; min-height: 36px!important; 		 border-top: 1px solid #d7d7d7!important; 		 border-bottom: 1px solid #d7d7d7!important; 		 border-left: 1px solid #d7d7d7!important; 		 border-right: 1px solid #d7d7d7!important; 		 border-radius: 5px!important; 														        }

		

        .uni-node-84aaae70 .uni-row-content-wrap {
				 color: #333333;																																										        }
				            .uni-node-84aaae70 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-13fe5bc1 .uni-row-content-wrap {
				 color: #333333;																																										        }
				            .uni-node-13fe5bc1 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-b417b6f6 {
		 float: left;		 width: 100%; 								        }
        .uni-node-b417b6f6 .uni-col-content {
																						        }

		

