/**
 * This file has been created automatically by Uni CPO plugin
 * Last modified time: Aug 10 2021, 04:06:07
 */


        .uni-node-9f4d5d87 .uni-row-content-wrap {
				 color: #333333;		 text-align: left;																																								        }
				            .uni-node-9f4d5d87 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-e8983b42 {
		 float: left;		 width: 100%; 								        }
        .uni-node-e8983b42 .uni-col-content {
																						        }

		

        .uni-node-06d52ae2 {
								        }
		            .uni-node-06d52ae2 .uni-cpo-module-select-label {
															            }
		        .uni-node-06d52ae2 select {
		 width: 100%!important;		 height: 36px!important; min-height: 36px!important; 		 border-top: 1px solid #d7d7d7!important; 		 border-bottom: 1px solid #d7d7d7!important; 		 border-left: 1px solid #d7d7d7!important; 		 border-right: 1px solid #d7d7d7!important; 		 border-radius: 5px!important; 														        }

		

        .uni-node-52e7c776 .uni-row-content-wrap {
				 color: #333333;		 text-align: left;																																								        }
				            .uni-node-52e7c776 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-ad59ccfd {
		 float: left;		 width: 100%; 								        }
        .uni-node-ad59ccfd .uni-col-content {
																						        }

		

        .uni-node-c9cf726c {
								        }
		            .uni-node-c9cf726c .uni-cpo-module-select-label {
															            }
		        .uni-node-c9cf726c select {
		 width: 100%!important;		 height: 36px!important; min-height: 36px!important; 		 border-top: 1px solid #d7d7d7!important; 		 border-bottom: 1px solid #d7d7d7!important; 		 border-left: 1px solid #d7d7d7!important; 		 border-right: 1px solid #d7d7d7!important; 		 border-radius: 5px!important; 														        }

		

